REGISTRY=registry.cn-hangzhou.aliyuncs.com
NAMESPACE=vyibc
IMAGE_NAME=tunneling-agent
TAG=latest
CONTAINER_NAME=tunneling-agent

# optional: needed only if registry pull requires login on local machine
DOCKER_USERNAME=
DOCKER_PASSWORD=

AGENT_SERVER_WS=ws://152.32.214.95/connect
ROUTE_SYNC_URL=http://152.32.214.95/_tunnel/agent/routes

TUNNEL_ID=
AGENT_TOKEN=
TUNNEL_TOKEN=

AGENT_ADMIN_PORT=17001
AGENT_CONFIG_DIR=$HOME/.tunneling-agent

